:host {
  margin: 7px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 10px;
}

@media screen and (max-width: 800px) {
  :host {
    grid-template-columns: 1fr;
  }
}
