<app-search id="content"></app-search>
<div id="footer">
  <span class="text">{{'Created and maintained by' | translate}}: István Nagy</span>
  <span class="text">|</span>
  <a href="https://www.linkedin.com/in/istvannagy1988/" rel="noopener" target="_blank"
    title="{{ 'LinkedIn profile' | translate }}">
    <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill="#2A67BC" d="M0 0h20v20H0z"></path>
      <path
        d="M6.894 14.99H4.56V7.489h2.334v7.5zM5.727 6.464a1.351 1.351 0 11-.002-2.702 1.351 1.351 0 01.003 2.702zm9.898 8.526h-2.331v-3.648c0-.87-.015-1.989-1.211-1.989-1.214 0-1.399.948-1.399 1.927v3.71H8.357V7.489h2.235v1.025h.032c.31-.59 1.07-1.211 2.205-1.211 2.36 0 2.797 1.553 2.797 3.573v4.114z"
        fill="#fff"></path>
    </svg>
  </a>
  <span class="spacer"></span>
  <span class="text">{{'Metadata source' | translate}}:</span>
  <a href="https://tmdb.org" rel="noopener" target="_blank">
    <img
      src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
      alt="The Movie Database (TMDB)" />
  </a>
</div>