<div class="card" [ngStyle]="{
    'background-image': data?.backdropUrl
      ? 'linear-gradient(rgba(245, 240, 240, 0.8), rgba(245, 240, 240, 0.95)), url(\'' +
        data?.backdropUrl +
        '\')'
      : 'unset'
  }">
  <img *ngIf="data?.posterUrl" [src]="data?.posterUrl" alt="{{ data?.title }}" [title]="data?.title" loading="lazy"
    class="poster" />
  <div class="header">
    <mat-icon>{{ data?.icon }}</mat-icon>
    <h1>{{ data?.title + (data?.year ? " (" + data?.year + ")" : "") }}</h1>
  </div>
  <div class="description">
    <span *ngIf="data?.description">{{ data?.description }}</span>
    <ngx-skeleton-loader *ngIf="fetching" class="skeleton" count="3" appearance="line"></ngx-skeleton-loader>
  </div>
  <div class="actions">
    <span></span>
    <button *ngIf="data?.infoUrl" mat-button type="button" title="{{'Open TMDB page in a seperate tab' | translate}}"
      (click)="openNewTab(data?.infoUrl!)">
      <mat-icon class="material-icons-outlined">info</mat-icon> {{'Info' | translate}}
    </button>
    <button *ngIf="data?.folderName" mat-button type="button"
      title="{{'Copy suggested folder name to clipboard' | translate}}" (click)="copyToClipboard(data?.folderName!)">
      <mat-icon class="material-icons-outlined">{{ copyIcon }}</mat-icon> {{'Copy' | translate}}
    </button>
  </div>
</div>