<div id="header">
  <div id="top-bar" [ngClass]="{ 'top-bar-shadow': topBarShadow }">
    <div>
      <div id="search-input-container">
        <input type="text" placeholder="{{'Search' | translate}}" #searchInput [(ngModel)]="searchCriteria"
          (keyup)="trending()" (keyup.arrowup)="prevSuggestion()" (keyup.arrowdown)="nextSuggestion()"
          (keyup.enter)="onSearch()" (blur)="suggestionsDelayedHide()" />
        <button matRipple type="reset" title="{{'Clear search criteria' | translate}}" *ngIf="searchCriteria"
          (click)="searchCriteria = ''; searchInput.focus()">
          <mat-icon>clear</mat-icon>
        </button>
        <button matRipple type="submit" title="{{'Search' | translate}}" #searchBtn (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="settings">
        <span *ngFor="let item of settings" class="setting" [ngClass]="{'selected-setting': item === currentSetting}"
          (click)="currentSetting = item">
          <mat-icon class="material-icons-outlined">
            {{ item.icon }}
          </mat-icon>
          {{ item.label | translate }}
        </span>
        <span class="flex-expand"></span>
        <span class="setting language-button" (click)="changeLanguage()">
          <mat-icon class="material-icons-outlined">language</mat-icon>
          {{ 'Language' | translate }}
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="suggestions && suggestions.length > 0 && suggestionsVisible" id="trending-results">
    <div *ngFor="let item of suggestions" (click)="searchBySuggestion(item)"
      [ngClass]="{ 'focused-trending-item': item === focusedSuggestion }">
      <mat-icon *ngIf="item.media_type === 'movie'">movie</mat-icon>
      <mat-icon *ngIf="item.media_type === 'tv'">tv</mat-icon>
      <mat-icon *ngIf="item.media_type === 'person'">person</mat-icon>
      <span>{{ getTitle(item) }}</span>
      <span>{{ getYear(item) }}</span>
    </div>
  </div>
</div>
<div id="search-results">
  <app-media-card *ngFor="let item of searchResults" [media]="item"></app-media-card>
</div>
<div *ngIf="searchInProgress" id="search-indicator">
  <mat-spinner></mat-spinner>
</div>