@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  src: url('/fonts/Inter-Italic-VariableFont.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(38, 48, 52);
  background-color: rgb(237, 248, 253);

  &, & * {
    font-family: 'Inter', system-ui, sans-serif;
  }
}
