<div id="top-bar" [ngClass]="{ 'top-bar-shadow': topBarShadow }">
  <div>
    <div id="search-input-container">
      <input type="text" placeholder="Search" #searchInput [(ngModel)]="searchCriteria" (keyup)="trending()"
        (keyup.arrowup)="prevTrending()" (keyup.arrowdown)="nextTrending()" (keyup.enter)="onSearch()" />
      <button matRipple type="reset" title="Clear search criteria" *ngIf="searchCriteria"
        (click)="searchCriteria = ''; searchInput.focus()">
        <mat-icon>clear</mat-icon>
      </button>
      <button matRipple type="submit" title="Search" #searchBtn (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <button matRipple type="button" [title]="(settingsVisible ? 'Hide' : 'Show') + ' search settings'"
        (click)="settingsVisible = !settingsVisible; trendingResults = []">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div id="search-settings-container" *ngIf="settingsVisible">
      <mat-radio-group name="search-setting" [(ngModel)]="currentSetting">
        <mat-radio-button *ngFor="let item of settings" [id]="item.id" [title]="item.label" [value]="item">
          {{ item.label }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="
        trendingResults && trendingResults.length > 0 && isFocused(searchInput)
      " id="trending-results">
      <div *ngFor="let item of trendingResults" (click)="searchByTrendingResult(item)"
        [ngClass]="{ 'focused-trending-item': item == focusedTrendingItem }">
        <mat-icon *ngIf="item.media_type == 'movie'">movie</mat-icon>
        <mat-icon *ngIf="item.media_type == 'tv'">tv</mat-icon>
        <mat-icon *ngIf="item.media_type == 'person'">person</mat-icon>
        <span>{{ getTitle(item) }}</span>
        <span>{{ getYear(item) }}</span>
      </div>
    </div>
  </div>
</div>
<div id="search-results">
  <app-media-card *ngFor="let item of searchResults" [media]="item"></app-media-card>
</div>
<div *ngIf="searchInProgress" id="search-indicator">
  <mat-spinner></mat-spinner>
</div>