<div id="top-bar">
  <div>
    <div id="search-input-container">
      <input
        type="text"
        placeholder="Search"
        #searchInput
        [(ngModel)]="searchCriteria"
        (keyup.enter)="search()"
      />
      <button
        matRipple
        type="reset"
        title="Clear search criteria"
        *ngIf="searchCriteria"
        (click)="searchCriteria = ''; searchInput.focus()"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <button
        matRipple
        type="submit"
        title="Search"
        #searchBtn
        (click)="search()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
        matRipple
        type="button"
        [title]="(settingsVisible ? 'Hide' : 'Show') + ' search settings'"
        (click)="settingsVisible = !settingsVisible"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div id="search-settings-container" *ngIf="settingsVisible">
      <mat-radio-group name="search-setting" [(ngModel)]="currentSetting">
        <mat-radio-button
          *ngFor="let item of settings"
          [id]="item.id"
          [title]="item.label"
          [value]="item"
        >
          {{ item.label }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<div id="search-results">
  <app-media-card
    *ngFor="let item of searchResults"
    [media]="item"
  ></app-media-card>
</div>
