<div id="top-bar">
  <div>
    <div id="search-input-container">
      <input
        type="text"
        placeholder="Search"
        #searchInput
        [(ngModel)]="searchCriteria"
        (keyup.enter)="search()"
      />
      <button
        mat-mini-fab
        *ngIf="searchCriteria"
        (click)="searchCriteria = ''; searchInput.focus()"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <button matRipple #searchBtn (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <button matRipple (click)="settingsVisible = !settingsVisible">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div id="search-settings-container" *ngIf="settingsVisible">
      <span *ngFor="let item of settings">
        <mat-radio-button
          [id]="item.id"
          [checked]="item.checked"
          [title]="item.label"
          name="search-setting"
          (click)="setting = item"
        >
          {{ item.label }}
        </mat-radio-button>
      </span>
    </div>
  </div>
</div>
